 
        main {
            background-color: #2E4053;
        }

        .main-container {
            background-color: #FFFFFF;
            margin: 100px;
            padding-top: 20px;

        }

        footer {
            margin-top: 0 !important;
        }

        .border {
            background-color: #2E4053;
            height: 10px;
            width: 60%;
        }

        .contact-info {
            background-color: #2E4053;
            margin-top: 200px;
            border-radius: 20px;
            margin-left: 60px;
        }

        .info {
            font-size: 13px;
        }

        .contact-form {
            background-color: #2E4053;
            border-radius: 20px;
        }

        .contact-form input {
            height: 60px;
            border: 1px solid #FFFFFF;
            background-color: #2E4053;
            border-radius: 17px;
        }

        #message {
            border: 1px solid #FFFFFF;
            background-color: #2E4053;
            border-radius: 17px;
            height: 100px !important;
        }

        .btn-submit {
            background-color: #FFFFFF;
            height: 50px;
            color: #2E4053;
            width: 180px;
            border-radius: 10px;
            border: none;
            margin-top: 20px;
        }

        .modal-content {
            padding: 30px;
            border-radius: 20px;
            background-color: #f8f9fa;


        }

        .custom-width {
            max-width: 800px;
            width: 80%;
    
        }

        .btn-go {
            background-color: #2E4053;
            color: #f8f9fa;
            border-radius: 10px;
            width: 200px;
            padding: 8px;

        }

        .btn-go:hover {
            color: black;
        }

        @media (max-width:764px) {
            .contact-info {
                margin-left: 30px;
            }

            .btn-submit {
                margin-left: 13px;
            }

            #contactModal {
                margin-left: 40px;

            }
        }
    