  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "DM Sans", sans-serif;
      font-optical-sizing: auto;
      scroll-behavior: smooth;

  }

  .blank {
      height: 10vh;
      background-color: black;
  }

  .navbar {
      padding: 1rem 2rem;
      height: 20vh;
  }

  .nav-link {
      color: black;

  }

  .nav-link:hover {
      color: #16B653;

  }

  .nav-link.active {
      text-decoration: underline 2px solid #16B653;

  }

  /* Footer */
  footer {
      background-color: #2E4053;
      color: #FFFFFF;

      p {
          font-size: 14px;
      }
  }

  .footer-info-links {
      display: flex;
      gap: 70px;
      margin-left: 180px;
  }

  .socials i {
      background-color: rgba(219, 216, 216, 0.3);
      padding: 3px 7px 3px;

  }

  .input-with-button {
      position: relative;
      max-width: 400px;
      margin: auto;
  }

  .input-with-button input {
      padding-right: 100px;
  }

  .input-with-button button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #16B653;
      color: #000000;
      font-style: bold;
  }

  a:link {
      text-decoration: none;
  }

  @media (max-width:764px) {
      footer {
          margin-top: 80vh;
      }
  }