*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.blank{
height: 10vh;
/* background-color: #2E4053; */
background-color: black;
}
/* Footer */
footer{
    background-color: #2E4053;
    color: #FFFFFF;
}