*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.blank{
height: 10vh;
/* background-color: #2E4053; */
background-color: black;
}
nav-link{
    color: black;
}
.nav-link.active{
color: black;
}