
        .pricing {
            background-color: #2E4053;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #16B653;
            position: relative;
           
        }


        .pricing-section {
            background: linear-gradient(to bottom, #f9f9f9, #49d07d);
            margin: 0;
            height: 335vh;
            padding: 2rem 1rem;
            text-align: center;
            padding-bottom: 2rem;
        }


        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease-in-out;
            height: fit-content;
        }

        .card:hover {
            transform: translateY(-5px);
        }


        .card-title {
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 1rem;
            color: #2E4053;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .ashtric {
            width: 50px;
            height: 50px;
            background-color: #16B653;
            border-radius: 50%;
            padding: 10px;

        }

        .price {
            font-size: 30px;
            font-weight: bold;
            color: #2E4053;
            margin-bottom: 20px;
        }

        .rs-symbol {
            font-size: 65%;
            line-height: 3;
            margin-right: 4px;
            font-weight: bold;
            color: #2E4053
        }



        .feature-list {
            list-style: none;
            padding: 0;
            text-align: left;
        }

        .feature-list li {
            padding: 0.5rem 0;
            border-bottom: 1px solid #e0e0e0;
            font-size: 12px;
        }


        .feature-list li::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url('./asserts/images/SVG\ k.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 0.5rem;
            vertical-align: middle;
        }


        .btn-select {
            background-color: #389f60;
            color: white;
            font-size: 12px;
            width: 100px;
            margin-left: 30%;
            margin-top: -20%;
            margin-bottom: 20px;
            border-radius: 10px;
        }

        .row-gap {
            row-gap: 4rem;
        }

        .section-heading {
            font-weight: 600;
        }

        .section-subheading {
            color: #2E4053;
            margin-bottom: 50px;
        }

      
        .modal-content {
            border-radius: 12px;
        }

        #selectedPlanFeatures li {
            margin-bottom: 0.5rem;
            font-size: 0.85rem;
        }

        /* All lines */
        .right-vertical-line {
            position: absolute;
            top: 70px;
            left: 94%;
            height: 90%;
            width: 2px;
            background-color: #16B653;
        }

        .top-horizontal-line {
            position: absolute;
            top: 70px;
            left: 94%;
            transform: rotate(90deg);
            transform-origin: top left;
            height: 53%;
            width: 2px;
            background-color: #16B653;
        }

        .end-horizontal-line {
            position: absolute;
            top: 93.3%;
            left: 94%;
            transform: rotate(90deg);
            transform-origin: top left;
            height: 53%;
            width: 2px;
            background-color: #16B653;
        }

        .center-horizontal-line {
            position: absolute;
            top: 48.3%;
            left: 94%;
            transform: rotate(90deg);
            transform-origin: top left;
            height: 53%;
            width: 2px;
            background-color: #16B653;
        }

        .btn-back {
            background-color: #16B653;
            color: #2E4053;
        }
          @media (max-width:764px) {
            .row-gap {
                row-gap: 8rem;
            }

            footer {
                margin-top: 0;
                border-top: 2px solid #16B653;
            }

            .pricing-section {
                height: 870vh;

            }
            .center-horizontal-line,.end-horizontal-line{
                visibility: hidden;
            }

        }
