 
        main {
            position: relative;
            background-color: #2E4053;
            color: white;
        }

        .vertical-line {
            position: absolute;
            top: 0px;
            left: 2%;
            height: 145vh;
            width: 2px;
            background-color: #16B653;
        }

        @media (max-width:764px) {
            .info-right {
                margin-left: -70px;
            }
        }
    