 
        main {
            background-color: #2E4053;
            color: white;
            border-bottom: 2px solid #16B653;

        }


        footer {
            margin-top: 0 !important;
        }


        .main-container {
            display: flex;
            position: relative;
            padding-left: 2%;
        }

        .vertical-line {
            position: absolute;
            top: -100px;
            left: 2%;
            height: 130vh;
            width: 2px;
            background-color: #16B653;
        }

        .line-wrapper {
            height: auto;

        }

        .car {
            padding-left: 65px;
            padding-right: 65px;
        }

        .description {
            font-size: 14px;
        }

        @media (max-width:764px) {
            .vertical-line {
                height: 360vh;
            }

        }
    