
.login-card {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-left: 50px;
}

.form-control {
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: #000;
}

#loginForm {
    margin-top: 20px;
    margin-left: 10%;
}

.form-control::placeholder {
    color: #555;
}

h3 {
    margin-top: 80px;
    margin-left: 10%;
}

button {
    width: 50%;
    height: 50px;
}