body {
    background-color: #D9D9D9;
}

.card {
  
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.btn-buy {
    background-color: #d80000;
    color: white;
    border: none;
}

.btn-buy:hover {
    background-color: #a40000;
}

.price {
    color: red;
    font-size: 24px;
    font-weight: bold;
}
#view-btn{
    color: #004d33;
    border-radius: 15px;
    cursor: pointer;
}
a:link{
text-decoration: none;
}