.option-box {
    background-color: #EFBCBC;
    border: 2px solid #D40B0B;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
  }

  .option-label {
    background-color: white;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 15px;
  }

  .ok-btn {
    background-color: #D40B0B;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }

  .ok-btn:hover {
    background-color: darkred;
  }

  input[type="checkbox"] {
    display: none;
  }

  .option-box input:checked + .option-label {
    background-color: #D40B0B;
    color: white;
    border-color: #960A0A;
  }