h2{
    color:  #0F5D4B;
    font-weight: 2em;
}
p{
    font-size: 20px;
}
#card{
    border: 1px solid black;
    height: 40%;
    border-radius: 10px;

}
button{
    height: 60px;
    background-color: #EB1D1D;
    border: none;
    color: white;
    border-radius: 20px;
}